@import url("http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css");

.panel-pricing {
  -moz-transition: all .3s ease;
  -o-transition: all .3s ease;
  -webkit-transition: all .3s ease;
}
.panel-pricing:hover {
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.2);
}
.panel-pricing .panel-heading {
  padding: 20px 10px;
  
}
.panel-pricing .panel-heading .fa {
  margin-top: 10px;
  font-size: 58px;
}
.panel-pricing .list-group-item {
  color: #777777;
  border-bottom: 1px solid rgba(250, 250, 250, 0.5);
}
.panel-pricing .list-group-item:last-child {
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
}
.panel-pricing .list-group-item:first-child {
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
}
.panel-pricing .panel-body {
  background-color: #f0f0f0;
  font-size: 40px;
  color: #777777;
  padding: 20px;
  margin: 0px;
}
section#products{
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-align: center;
    display:inline;
    margin: 0 auto;
}

.panel-products {
  border-color: #777777;
} 

.btn-danger {
  color: #c9ff00;
  background-color: #222222;
  border-color: #333333;
}
.btn-danger:focus,
.btn-danger.focus {
  color: #c9ff00;
  background-color: #222222;
  border-color: #333333;
}
.btn-danger:hover {
  color: #c9ff00;
  background-color: #222222;
  border-color: #333333;
}
.btn-danger:active,
.btn-danger.active,
.open > .dropdown-toggle.btn-danger {
 color: #c9ff00;
  background-color: #222222;
  border-color: #333333;
}
.btn-danger:active:hover,
.btn-danger.active:hover,
.open > .dropdown-toggle.btn-danger:hover,
.btn-danger:active:focus,
.btn-danger.active:focus,
.open > .dropdown-toggle.btn-danger:focus,
.btn-danger:active.focus,
.btn-danger.active.focus,
.open > .dropdown-toggle.btn-danger.focus {
  color: #c9ff00;
  background-color: #222222;
  border-color: #333333;
}

a .here{
    color: #222222 !important; 
    font-weight: bold;
}

.product-pic{
    width: 200px;
}



